extends layout
block scripts
  script(src="/javascripts/base.js")
  script(src="/javascripts/commodity.js")

block content
  .main.container
    h3= title
    p(class='hidden_id')= id

    table(class='table table-striped')
      tbody(id='commodity_tbody')
        tr
          th Price
          th Date
