extends layout
block scripts
  script(src="/javascripts/base.js")
  script(src="/javascripts/index.js")

block content
  .main.container
    h1= title
    .row
      .col-md-6.col-md-offset-3
        div.form-group
          input.form-control(type='text' id='url_input' placeholder='https://' name='url')
      .col-md-3
        button.btn.btn-primary(type='submit' id='url_submit_btn') Add   
    
    table(class='table table-striped')
      thead
        tr
          th(style="width: 3%") ID
          th(style="width: 77%") URL
          th(style="width: 10%") Update
          th(style="width: 10%") Delete
      tbody(id='url_tbody')
