extends layout
block scripts
  script(src="/javascripts/base.js")
  script(src="/javascripts/index.js")

block content
  .main.container
    h1= title
    .row
      .col-md-6.col-md-offset-3
        div.form-group
          input.form-control(type='text' id='url_input' placeholder='http://' name='url')
      .col-md-3
        button.btn.btn-primary(type='submit' id='url_submit_btn') Submit   
    
    table(class='table table-striped')
      tbody(id='url_tbody')
        tr
          th ID
          th URL
          th Update
          th Delete
